.carousel-item{
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	background-size: cover;
	transition: .75s;
}
.carousel-caption{
	bottom: 75px;
}
.carousel-caption h5{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: lato;
}
.carousel-caption p{
	width: 60%;
	margin: auto;
	font-size: 24px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a{
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.navbar-nav a{
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	overflow: hidden;
}
.navbar-light .navbar-brand{
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	color: #fff;
}
.navbar-light .navbar-nav .nav-link{
	color: #ffea00;
}
.navbar-nav{
	text-align: center;
}
.nav-link{
	padding: .2rem 1rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ffea00;
}
.navbar {
  background-color: #262626; 
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
h2{
	margin: 0 auto;
}
.btn{
	padding: .5rem 1rem;
	background: #ffea00;
	color: black;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.btn-bing{
	padding: .5rem 1.3rem;
	line-height: 1.3rem;
}
.footer{
	background: #333333;
	color: #fff;
	height: 400px;
	position: relative;
}
.footer .footer-content{
	height: 350px;
	display: flex;
}
.footer .footer-content .footer-section{
	flex: 1;
	padding: 25px;
}
.footer .footer-content h1{
	color: #ffea00;
}
.footer .footer-content h2{
	color: white;
}
.footer .footer-content .about h1 span{
	color: #ffea00;
}
.footer .footer-content .about .contact span{
	display: block;
	font-size: 1.1em;
	margin-bottom: 8px; 
}
.footer .footer-content .about .socials a{
	border: 1px solid gray;
	width: 45px;
	height: 41px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all .3s;
}
.footer .footer-content .about .socials a:hover{
	border: 1px solid white;
	color: white;
	transition: all .3s;
}
.footer .footer-content .links ul a{
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.footer .footer-content .links ul a:hover{
	color: white;
	margin-left: 15px;
	transition: all .3s;
}
.footer .footer-content .contact-form .contact-input{
	background: #272727;
	color: #fff;
	margin-bottom: 10px;
	line-height: 1.5em;
	padding: .9rem 1.4rem;
	border: none;
}
.footer .footer-content .contact-form .contact-input:focus{
	background: #000000;
}
.footer .footer-content .contact-form .contact-btn{
	float: right;
}
.footer .footer-bottom{
	background: #262626;
	color: #fff;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
}
